
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <!-- Logo -->
    <a asp-controller="Home" asp-action="Index" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
        <h1 class="m-0 text-primary">Jobros</h1>
    </a>


    <!-- Toggle for mobile -->
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Links -->
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>

            <a class="nav-link" asp-controller="Profile" asp-action="Profile">Profile</a>


            <a class="nav-link" asp-controller="Home" asp-action="About">About</a>


            <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>

             @* <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>

            <a class="nav-link" asp-controller="Home" asp-action="Terms_of_Services">Terms_of_Services</a> *@
        </div>

       

        <!-- Account Dropdown -->
        <div class="nav-item dropdown me-4 ms-3">
            <a href="#" class="nav-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                <i class="fa fa-user me-2"></i> Account
            </a>
            <div class="dropdown-menu dropdown-menu-end rounded-0 m-0">
                <a href="/Account/Login" class="dropdown-item">Login</a>
                <a href="/Account/Register" class="dropdown-item">Register</a>
            </div>
        </div>
    </div>
</nav>
